<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/" xmlns:set="http://www.sitecore.net/xmlconfig/set/">
  <sitecore>
    <pipelines>
      <createIntegrationItem>
        <processor type="Sitecore.Support.Sharepoint.Pipelines.ProcessIntegrationItem.UpdateMetadata, Sitecore.Support.75078" />
      </createIntegrationItem>
      <updateIntegrationItem>
        <processor type="Sitecore.Support.Sharepoint.Pipelines.ProcessIntegrationItem.UpdateMetadata, Sitecore.Support.75078" />
      </updateIntegrationItem>
    </pipelines>
  </sitecore>
</configuration>